#gallery {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gallery-item {
  margin-right: 30px;
}

.gallery-item-img {
  width: 100%;
}

#counter {
  margin-top: 50px;
  margin-bottom: 30px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
}
